<div class="container" id="demo">
  <div class="metro">
      <div class="metro-sections">
        <div class="metro-section" id="section1">
          
                              <!-- <a data-next="#section2" data-prior="#section1" href="#" class="next-section"></a> -->
          
                              <div class="tile tile-double tile-double-vertical">
                                  <div class="tile-image">
                                      <img src="/assets/img/IvanProfile.jpg" />
                                  </div>
                                  <span class="tile-label">Ivan Bliskavka</span>
                              </div>
                              <div class="tile tile-triple tile-double-vertical bg-color-black">
                                  <div class="pageContent">
                                      <h1>Liandra Softworks</h1>
                                      <h3>{{appTitle}}</h3>    
                                  </div>
                              </div>
          
                              <div class="tile tile-content-main tile-quinto tile-triple-vertical bg-color-green">
                                  <div class="pageContent">
                                      
          
          <h3>Privacy Policy</h3>
          <div class="body-text">
              <br />
              <ul>
                  <li>This app does not collect any personal information.</li>
                  <li>This app collects annonymous usage information through Application Insights to better serve you.</li>
                  <li>All slide show images displayed by the app are hosted on <a href="http://www.imgur.com">imgur.com</a>. Liandra Softworks does not own these images.</li>
                  <li>Images are uploaded by the <a href="http://www.imgur.com">imgur.com</a> and <a href="http://www.reddit.com">reddit.com</a> communities, I encourage you to explore these sites and partake in voting and discussion.</li>
              </ul>
          </div>
                                  </div>
                              </div>
                          </div>

          <app-section-projects></app-section-projects>
          <app-section-social></app-section-social>
      </div>
  </div>
</div>