<div class="metro-section">
  <h1>Projects</h1>
  <!-- <app-icon-tile text="" link="" icon="" color=""></app-icon-tile> -->
  <app-icon-tile text="Screen Saver Gallery" link="https://www.microsoft.com/en-us/store/apps/screen-saver-gallery/9nblggh5j8tx" icon="/assets/img/Liandra-512x512.png" color="bg-color-blueDark"></app-icon-tile>

  <app-icon-tile text="Shopify Theme" link="http://caspian-theme.myshopify.com" icon="/assets/img/cart-icon.png" color="bg-color-red"></app-icon-tile>

  <!-- <app-icon-tile text="Normal Day in Russia" link="https://www.microsoft.com/en-us/store/apps/normal-day-in-russia/9nblgggzh80x" icon="/assets/img/NormalDayInRussia-512x512.png" color="bg-color-redDark"></app-icon-tile> -->

  <app-icon-tile text="Piwigo Gallery" link="https://www.microsoft.com/en-us/store/apps/piwigo-gallery/9wzdncrdkdf9" icon="/assets/img/Piwigo-512x512.png" color="bg-color-greenDark"></app-icon-tile>

  <app-icon-tile text="OHRM Org Charts" link="https://sourceforge.net/p/ohrmorgcharts/wiki/Home" icon="/assets/img/Network.png" color="bg-color-orange"></app-icon-tile>

</div>