article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  &:hover, &:active {
    outline: 0;
  }
}

sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

.bg-color-blue {
  background-color: #2d89f0 !important;
}

.bg-color-blueDark {
  background-color: #0064cd !important;
}

.bg-color-green {
  background-color: #01a31c !important;
}

.bg-color-greenDark {
  background-color: #005200 !important;
}

.bg-color-red {
  background-color: #bc1c48 !important;
}

.bg-color-redDark {
  background-color: #aa1c1c !important;
}

.bg-color-yellow {
  background-color: #ffc40d !important;
}

.bg-color-orange {
  background-color: #d44a26 !important;
}

.bg-color-pink {
  background-color: #c3325f !important;
}

.bg-color-purple {
  background-color: #603cba !important;
}

.bg-color-darken {
  background-color: #1c1c1c !important;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(/assets/fonts/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format("woff");
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(/assets/fonts/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format("woff");
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(/assets/fonts/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format("woff");
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(/assets/fonts/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}


.metro {
  * {
    font-family: 'Open Sans',sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: #ffffff;
  }
  a:hover, .link:hover {
    color: #44d1da;
  }
  a:active, .link:active {
    color: #52ecff;
  }
  h1, h2, h3, h4, h5, p {
    margin-bottom: 10px;
  }
  h1 {
    color: #ffffff;
    font-size: 42pt;
    font-weight: 300;
    font-family: 'Open Sans',sans-serif;
  }
  h2 {
    font-size: 20pt;
    font-weight: 300;
    color: #a5a5a5;
    font-family: 'Open Sans',sans-serif;
  }
  h3 {
    color: #ffffff;
    font-size: 18pt;
    font-weight: 600;
    font-family: 'Open Sans',sans-serif;
  }
  h4 {
    font-size: 11pt;
    font-weight: 600;
    color: #a5a5a5;
  }
  .navigation, .item-title, .item-header {
    color: #ffffff;
    font-size: 11pt;
    font-weight: 300;
  }
  p, .body-text {
    font-size: 11pt;
    font-weight: 200;
    color: #ffffff;
  }
  .body-text-secondary {
    font-size: 10pt;
    font-weight: 300;
    color: #ffffff;
  }
  a, .link {
    font-size: 11pt;
    font-weight: 200;
    color: #44d1da;
  }
  .tertiary-info {
    font-size: 10pt;
    font-weight: 11pt;
    color: #a5a5a5;
  }
  .tertiary-info-secondary {
    font-size: 10pt;
    font-weight: 11pt;
    color: #a5a5a5;
    font-size: 9pt;
  }
}

.place-left {
  float: left;
}

.place-right {
  float: right;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  display: inline-block;
  zoom: 1;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.metro {
  .metro-sections {
    height: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    .metro-section {
      float: left;
      margin-right: 75px;
      height: auto;
      width: 960px;
      position: relative;
      -moz-transform: perspective(600px);
      -webkit-transform: perspective(600px);
      -ms-transform: perspective(600px);
      -o-transform: perspective(600px);
      transform: perspective(600px);
      .next-section {
        position: absolute;
        top: 0px;
        right: -40px;
        background: url(/img/next.png);
        height: 24px;
        width: 24px;
        &.back {
          background: url(/img/back.png);
        }
      }
      .tile {
        &:hover {
          outline: 3px #225a68 solid !important;
        }
        &.tile-active-right {
          -ms-transform: perspective(600px) rotatey(5deg);
          -o-transform: perspective(600px) rotatey(5deg);
          -moz-transform: perspective(600px) rotatey(5deg);
          -webkit-transform: perspective(600px) rotatey(5deg);
          transform: perspective(600px) rotatey(5deg);
        }
        &.tile-active-left {
          -ms-transform: perspective(600px) rotatey(-5deg);
          -o-transform: perspective(600px) rotatey(-5deg);
          -moz-transform: perspective(600px) rotatey(-5deg);
          -webkit-transform: perspective(600px) rotatey(-5deg);
          transform: perspective(600px) rotatey(-5deg);
        }
        display: block;
        background-color: #2d89f0;
        width: 150px;
        height: 150px;
        color: #fff;
        margin: 5px;
        float: left;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        text-decoration: none;
        * {
          font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
        }
        .tile-icon-large {
          margin-top: 20px;
          margin-left: 0px;
          display: table-cell;
          vertical-align: middle !important;
          text-align: center;
          width: 150px;
          padding-top: 20px;
          img {
            width: 96px;
            height: 96px;
          }
        }
        .tile-icon-cover {
          margin-top: 20px;
          margin-left: 0px;
          display: table-cell;
          vertical-align: middle !important;
          text-align: center;
          width: 150px;
          padding-top: 30px;
          img {
            max-width: 90px;
            height: 90px;
          }
        }
        .tile-icon {
          position: absolute;
          bottom: 10px;
          left: 20px;
          width: 32px;
          height: 32px;
        }
        .tile-label {
          position: absolute;
          bottom: 10px;
          left: 20px;
          font-size: 14px;
          color: #fff;
        }
        .tile-caption {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 130px;
          padding: 2px 10px;
          border-bottom: 1px #ff4500 solid;
          background: #fff;
          font-size: 14px;
          color: #000;
          font-size: 10px;
          text-align: right;
        }
        .tile-header {
          font-size: 19px;
          color: #7ac479;
          text-align: left;
          margin: 20px;
        }
        .tile-counter {
          position: absolute;
          right: 20px;
          bottom: 10px;
          font-size: 14px;
          font-weight: normal;
        }
        .tile-text {
          text-align: left;
          margin-top: 20px;
          margin-left: 20px;
          font-size: 12px;
        }
        .tile-image {
          padding: 0px;
          img {
            min-height: 100%;
            min-width: 100%;
          }
        }
        .tile-content-main {
          height: 150px;
          position: relative;
          overflow: hidden;
        }
        .tile-content-sub {
          position: relative;
          margin: 1px;
          height: 50px;
          max-height: 148px;
          padding: 2px 5px;
          overflow: hidden;
          box-shadow-bottom: inset 0px 0px 3px #fff;
        }
        &.tile-double {
          width: 310px;
          .tile-icon-large {
            margin-top: 20px;
            margin-left: 107px;
          }
          .tile-icon-cover, .tile-icon-large {
            width: 310px;
          }
        }
        &.tile-double-vertical {
          height: 310px;
          .tile-icon-large {
            margin-top: 20px;
            margin-left: 107px;
          }
          .tile-icon-cover, .tile-icon-large {
            height: 310px;
          }
        }
        &.tile-triple-vertical {
          height: 470px;
          .tile-icon-large {
            padding-top: 187px;
          }
        }
        &.tile-quadro-vertical {
          height: 630px;
          .tile-icon-large {
            padding-top: 267px;
          }
        }
        &.tile-quinto-vertical {
          height: 790px;
        }
        &.tile-quadro-vertical .tile-icon-large {
          padding-top: 267px;
        }
        &.tile-triple {
          width: 470px;
          .tile-icon-large {
            width: 470px;
          }
        }
        &.tile-quadro {
          width: 630px;
          .tile-icon-large {
            width: 630px;
          }
        }
        &.tile-quinto, &.tile-quadro .tile-icon-large {
          width: 790px;
        }
      }
    }
  }
  .metro-replies {
    list-style: none;
    margin: 0;
    padding: 0;
    .metro-reply {
      width: 300px;
      height: auto;
      padding: 10px;
      font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
      margin-bottom: 10px;
      margin-right: 10px;
      position: relative;
      display: block;
      .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle !important;
        background: #6e6e6e;
        box-shadow-bottom: inset 0px 0px 3px #fff;
        img {
          width: 100%;
          height: 100%;
          display: inline-block !important;
          vertical-align: middle !important;
        }
      }
      .reply {
        margin-left: 60px;
        margin-top: -50px;
        .date {
          float: right;
          font-size: 55%;
          color: #ffffff;
        }
        .author {
          color: #ffffff;
        }
        .text {
          font-size: 12px;
          color: #ffffff;
        }
      }
      .sticker {
        width: 0;
        height: 0;
        border-top: 10px solid #ffffff;
        position: absolute;
        display: block;
        z-index: 1000;
        &.sticker-color-black {
          border-top: 10px solid #000000 !important;
        }
        &.sticker-color-blue {
          border-top: 10px solid #ffffff !important;
        }
        &.sticker-color-blueDark {
          border-top: 10px solid #0064cd !important;
        }
        &.sticker-color-green {
          border-top: 10px solid #01a31c !important;
        }
        &.sticker-color-greenDark {
          border-top: 10px solid #005200 !important;
        }
        &.sticker-color-red {
          border-top: 10px solid #bc1c48 !important;
        }
        &.sticker-color-yellow {
          border-top: 10px solid #ffc40d !important;
        }
        &.sticker-color-orange {
          border-top: 10px solid #d44a26 !important;
        }
        &.sticker-color-pink {
          border-top: 10px solid #c3325f !important;
        }
        &.sticker-color-purple {
          border-top: 10px solid #603cba !important;
        }
        &.sticker-color-darken {
          border-top: 10px solid #1c1c1c !important;
        }
        &.sticker-left {
          border-left: 20px solid transparent !important;
          left: -20px;
        }
        &.sticker-right {
          border-right: 20px solid transparent !important;
          right: -20px;
        }
      }
    }
  }
  .metro-notices {
    list-style: none;
    margin: 0;
    padding: 0;
    .metro-notice {
      width: 385px;
      height: 90px;
      display: block;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
      .header {
        margin-top: 15px;
        margin-right: 25px;
        margin-left: 10px;
        color: #fff;
        font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
        font-size: 13px;
        font-weight: bolder;
      }
      .text {
        margin-right: 45px;
        margin-left: 10px;
        color: #fff;
        font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;
        font-size: 12px;
        font-weight: lighter;
      }
      .icon {
        position: absolute;
        right: 10px;
        bottom: 5px;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .image {
        max-height: 48px;
        width: 48px;
        height: 48px;
        margin: 20px 30px 20px 20px;
        float: left;
        img {
          width: 48px;
          height: 48px;
        }
      }
      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        color: #fff !important;
        &::before {
          content: "\00d7";
          color: #fff !important;
        }
      }
      .image-large {
        width: 88px;
        height: 88px;
        margin: 1px 10px 1px 1px;
        overflow: hidden;
        float: left;
        img {
          width: 88px;
          height: 88px;
        }
      }
    }
  }
  .metro-images {
    list-style: none;
    margin: 0;
    padding: 0;
    .metro-image {
      display: block;
      float: left;
      width: 190px;
      height: 130px;
      overflow: hidden;
      border: 4px transparent solid;
      margin: 0 10px 10px 0;
      position: relative;
      cursor: pointer;
      .image {
        width: 190px;
        height: 130px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background: #6e6e6e;
        z-index: 1;
        overflow: hidden;
        img {
          max-width: 190px;
          max-height: 130px;
          display: inline-block !important;
          vertical-align: middle !important;
        }
      }
      &:hover {
        border: 4px #57d3d9 solid;
        .overlay {
          &.floatable {
            -webkit-transform: translate(0, -30px);
            -ms-transform: translate(0, -30px);
            -o-transform: translate(0, -30px);
            -moz-transform: translate(0, -30px);
            transform: translate(0, -30px);
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s easet;
          }
          &.double.floatable {
            -webkit-transform: translate(0, -60px);
            -ms-transform: translate(0, -60px);
            -o-transform: translate(0, -60px);
            -moz-transform: translate(0, -60px);
            transform: translate(0, -60px);
          }
        }
      }
      .overlay {
        z-index: 2;
        position: absolute;
        bottom: 0;
        height: 30px;
        width: 100%;
        background: #262626;
        overflow: hidden;
        text-align: center;
        display: block;
        float: none;
        * {
          margin: 0;
          padding: 0;
        }
        .text {
          color: #ffffff;
          font-size: 14px;
          padding-top: 5px;
        }
        &.double {
          height: 60px;
        }
        &.floatable {
          bottom: -30px;
        }
        &.double.floatable {
          bottom: -60px;
        }
      }
    }
    .metro-image-overlay {
      display: block;
      float: left;
      width: 250px;
      height: 250px;
      overflow: hidden;
      border: 4px transparent solid;
      margin: 0 10px 10px 0;
      position: relative;
      cursor: pointer;
      .image {
        width: 250px;
        height: 160px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background: #6e6e6e;
        z-index: 1;
        overflow: hidden;
        img {
          max-width: 250px;
          max-height: 160px;
          display: inline-block !important;
          vertical-align: middle !important;
        }
      }
      .overlay {
        z-index: 2;
        position: absolute;
        bottom: 0;
        height: 90px;
        width: 100%;
        background: #262626;
        overflow: hidden;
        text-align: center;
        display: block;
        float: none;
        * {
          margin: 0;
          padding: 0;
        }
        .text {
          color: #ffffff;
          font-size: 14px;
          text-align: left;
          padding: 5px 20px;
          small {
            font-size: 10px;
            color: #909090;
            display: block;
            margin: 5px 0;
          }
        }
      }
      &:hover {
        border: 4px #57d3d9 solid;
      }
    }
    .metro-image .image.stretch img, .metro-image-overlay .image.stretch img {
      width: 100% !important;
      height: 100% !important;
    }
    .metro-image .image.stretchH img, .metro-image-overlay .image.stretchH img {
      height: 100% !important;
      max-width: auto !important;
    }
    .metro-image .image.stretchW img, .metro-image-overlay .image.stretchW img {
      width: 100% !important;
      max-height: auto !important;
    }
    .metro-image.no-hovered, .metro-image-overlay.no-hovered {
      border: 4px transparent solid;
    }
    .metro-image.selected, .metro-image-overlay.selected, .metro-icon-text.selected, .metro-image-text.selected {
      border: 4px #219297 solid;
    }
    .metro-image.selected b.check, .metro-image-overlay.selected b.check, .metro-icon-text.selected b.check, .metro-image-text.selected b.check {
      width: 0;
      height: 0;
      border-top: 30px solid #219297;
      border-left: 30px solid transparent;
      position: absolute;
      display: block;
      right: 0;
    }
    .metro-image.selected b.check:after, .metro-image-overlay.selected b.check:after, .metro-icon-text.selected b.check:after, .metro-image-text.selected b.check:after {
      position: absolute;
      content: "\2713";
      color: #fff;
      top: -35px;
      right: 0px;
    }
    .metro-icon-text.selected {
      border: 0;
      background: #219297;
      b.check:after {
        right: 5px;
        top: -30px;
      }
    }
    .metro-icon-text-header {
      text-decoration: none;
      color: #fff;
      margin: 20px 0;
      text-decoration: none;
      * {
        color: #fff;
        text-decoration: none;
      }
    }
    .metro-icon-text {
      &.disabled {
        * {
          color: #696969 !important;
        }
        &:hover {
          background: transparent;
        }
      }
      display: block;
      width: 250px;
      height: 60px;
      overflow: hidden;
      margin: 0 10px 10px 0;
      position: relative;
      cursor: pointer;
      background: transparent;
      padding-bottom: 10px;
      .image {
        margin: 10px 0 10px 10px;
        background: #6e6e6e;
        border: 4px #464646 solid;
        width: 40px;
        height: 40px;
        float: left;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .text {
        margin: 15px 20px 10px 65px;
        .title {
          color: #fff;
          font-size: 95%;
          font-weight: bold;
        }
        .subtitle {
          font-size: 75%;
          color: #ccc;
        }
      }
      &:hover {
        background: #219297;
      }
    }
    .metro-image-text {
      display: block;
      width: 480px;
      height: 110px;
      margin: 0 10px 10px 0;
      position: relative;
      cursor: pointer;
      background: transparent;
      padding: 10px;
      overflow: hidden;
      &:hover {
        background: #219297;
        * {
          color: #fff !important;
        }
      }
      .image {
        margin: 10px;
        width: 110px;
        height: 110px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        background: #6e6e6e;
        z-index: 1;
        overflow: hidden;
        img {
          max-width: 110px;
          display: inline-block !important;
          vertical-align: middle !important;
        }
      }
      .text {
        margin-left: 120px;
        margin-top: -115px;
        .title {
          font-size: 100%;
          color: #ffffff;
        }
        .subtitle {
          font-size: 75%;
          color: #7b7b7b;
        }
        .description {
          font-size: 90%;
          color: #ffffff;
        }
      }
      &.selected {
        border: 0;
        background: #219297;
        * {
          color: #fff !important;
        }
        b.check:after {
          right: 5px;
          top: -40px;
        }
      }
    }
  }
  .metro-button {
    text-decoration: none;
    border: 2px #e2e2e2 solid;
    padding: 5px 20px;
    margin: 10px 10px 0 10px;
    color: #fff !important;
    background: #1d1d1d;
    cursor: pointer;
    min-width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 0;
    &:hover {
      background: #3a3a3a;
    }
    &.default:hover {
      background: #219297;
    }
    &:active {
      background: #ffffff;
      color: #1d1d1d !important;
      top: 2px;
      left: 2px;
    }
    &.disabled, &:disabled {
      border-color: #777777;
      color: #777777 !important;
      cursor: default;
      background: #1d1d1d !important;
    }
  }
  .metro-command-button {
    &.disabled, &:disabled {
      border-color: #777777;
      color: #777777 !important;
      cursor: default;
      background: #1d1d1d !important;
    }
  }
  .metro-button {
    &.disabled:hover, &:disabled:hover {
      background: #1d1d1d;
    }
  }
  .metro-command-button {
    &.disabled:hover, &:disabled:hover {
      background: #1d1d1d;
    }
  }
  .metro-button {
    &.disabled:active, &:disabled:active {
      top: 0;
      left: 0;
    }
  }
  .metro-command-button {
    &.disabled:active, &:disabled:active {
      top: 0;
      left: 0;
    }
  }
  input.metro-button, button.metro-button {
    min-width: 94px !important;
  }
  .metro-button.default {
    background: #008287;
    &:active {
      background: #fff;
    }
  }
  .metro-command-button {
    text-decoration: none;
    border: 2px #ffffff solid;
    padding: 5px 20px;
    display: block;
    width: 240px;
    height: 40px;
    background: #1d1d1d;
    position: relative;
    margin: 10px 10px 0 10px;
    .title {
      color: #fff;
      display: block;
      font-weight: bold;
    }
    .subtitle {
      color: #a1a1a1;
      display: block;
      font-size: 90%;
    }
    &:hover {
      background: #3a3a3a;
    }
    &:active {
      background: #ffffff;
      top: 2px;
      left: 2px;
      * {
        color: #000;
      }
    }
    &.default {
      background: #008287;
      &:active {
        background: #fff;
      }
      &:hover {
        background: #219297;
      }
    }
  }
  button.metro-command-button {
    text-align: left;
    min-width: 285px !important;
    min-height: 60px;
  }
  .metro-command-button {
    &.disabled .title, &:disabled .title, &.disabled .subtitle, &:disabled .subtitle, &.disabled:active .title, &:disabled:active .title, &.disabled:active .subtitle, &:disabled:active .subtitle {
      color: #3a3a3a;
    }
  }
  .metro-radio, .metro-check, .metro-switch {
    cursor: pointer;
    cursor: hand;
    position: relative;
  }
  .metro-radio {
    input[type=radio] {
      vertical-align: middle;
      display: inline-block;
      + span {
        vertical-align: middle;
        display: inline-block;
        &::before, &::after {
          vertical-align: middle;
          display: inline-block;
        }
        font: normal 13px/14px "Segoe UI",Sans-serif;
        &::before {
          content: "\2022";
          text-indent: -9999px;
          width: 24px;
          height: 24px;
          background: #cfcfcf;
          margin-right: 10px;
          border-radius: 50%;
        }
      }
      position: absolute;
      filter: alpha(opacity = 0);
      -moz-opacity: 0;
      opacity: 0;
      &:checked + span {
        &::after {
          text-indent: -9999px;
          position: absolute;
          content: "\2022";
          background: #212121;
          z-index: 1000;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          left: 6px;
          top: 6px;
        }
        &::before {
          background: #d1d1d1;
        }
      }
      &:not(:checked):disabled + span::before {
        cursor: default;
        background: #868686;
      }
      &:disabled + span {
        &::before {
          cursor: default;
          background: #868686;
        }
        &::after {
          background: #484848;
        }
      }
    }
    &:hover input[type=radio] {
      &:not(:checked) {
        &:disabled + span::before {
          background: #868686;
        }
        + span::before {
          background: #ffffff;
        }
      }
      &:checked {
        + span::before {
          background: #dfdfdf;
        }
        &:disabled + span {
          &::before {
            background: #868686;
          }
          &::after {
            background: #484848;
          }
        }
        + span::after {
          background: #000000;
        }
      }
    }
  }
  .metro-check {
    input[type=checkbox] {
      vertical-align: middle;
      display: inline-block;
      + span {
        vertical-align: middle;
        display: inline-block;
        &::before, &::after {
          vertical-align: middle;
          display: inline-block;
        }
        font: normal 13px/14px "Segoe UI",Sans-serif;
      }
      position: absolute;
      filter: alpha(opacity = 0);
      -moz-opacity: 0;
      opacity: 0;
    }
    &:hover input[type=checkbox] {
      + span::before {
        background: #fff;
      }
      &:checked + span::before {
        background: #e1e1e1;
      }
    }
    input[type=checkbox] {
      + span::before {
        content: "\2714";
        text-indent: -9999px;
        width: 22px;
        height: 22px;
        background: #d1d1d1;
        margin-right: 10px;
      }
      &:checked + span {
        &::after {
          position: absolute;
          content: "\2713";
          color: #202020;
          z-index: 1000;
          font-size: 20px;
          font-weight: bold;
          font-family: Tahoma;
          left: 4px;
          top: 4px;
        }
        &::before {
          background: #d1d1d1;
        }
      }
      &:not(:checked):disabled + span::before {
        cursor: default;
        background: #767676;
      }
      &:disabled + span {
        &::before {
          cursor: default;
          background: #767676;
        }
        &::after {
          color: #4c4c4c;
        }
      }
    }
    &:hover input[type=checkbox]:disabled + span::before {
      cursor: default;
      background: #767676;
    }
  }
  .metro-switch {
    input[type=checkbox] {
      vertical-align: middle;
      display: inline-block;
      + span {
        vertical-align: middle;
        display: inline-block;
        &::before, &::after {
          vertical-align: middle;
          display: inline-block;
        }
        font: normal 13px/14px "Segoe UI",Sans-serif;
        &::before {
          content: "";
          width: 43px;
          height: 14px;
          outline: 2px #777777 solid;
          border: 1px #1c1c1c solid;
          cursor: pointer;
          background: #6c6c6c;
          margin-left: 2px;
          position: relative;
          margin-right: 10px;
          z-index: 100;
        }
        &::after {
          content: "";
          position: absolute;
          top: 2px;
          left: 35px;
          width: 13px;
          height: 19px;
          background: #ffffff;
          z-index: 200;
        }
      }
      position: absolute;
      filter: alpha(opacity = 0);
      -moz-opacity: 0;
      opacity: 0;
      &:checked + span::before {
        background: #008287;
      }
      &:not(:checked) + span::after {
        top: 2px;
        left: 0px;
      }
      &:disabled + span {
        &::before {
          cursor: default !important;
          background: #383838;
          outline: 2px #494949 solid;
        }
        &::after {
          background: #6c6c6c;
        }
      }
    }
    &:hover input[type=checkbox] {
      &:not(:checked) + span::before {
        background: #5f5f5f;
      }
      + span::before {
        background: #219297;
      }
      &:disabled + span::before {
        cursor: default;
        background: #383838;
      }
    }
  }
  .metro-form .metro-form-control {
    margin-bottom: 10px;
    label {
      font-size: 11pt;
    }
    .metro-text-box {
      position: relative;
      width: 100%;
      input[type=text] {
        background: #d2d2d2;
        border: 2px #d2d2d2 solid;
        color: #646464;
        border-radius: 0;
        font-size: 11pt;
        padding: 5px 8px;
        width: 100%;
        outline: 0;
        display: inline-block;
        &:focus {
          background: #fff;
          border-color: #fff;
          color: #000;
        }
        &:disabled {
          background: #1d1d1d;
          border: 2px #777777 solid;
        }
        &:not(:focus):not(:disabled):hover {
          background: #e2e2e2;
        }
      }
      .helper {
        cursor: pointer;
        z-index: 100;
      }
      input[type=text] {
        + .helper::before {
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          background: #ccc;
          top: 3px;
          right: -17px;
          visibility: hidden;
          content: "\00d7";
          font-size: 18pt;
          font-weight: bold;
          color: #000;
          cursor: pointer;
          padding: 2px 6px 9px 6px;
        }
        &:focus + .helper::before {
          visibility: visible;
        }
      }
      &:hover input[type=text] + .helper:before {
        background: #dedede !important;
      }
      &:action input[type=text] + .helper:before {
        background: #000 !important;
      }
    }
  }
  &.metro-theme-light {
    background: #fff;
    * {
      color: #1c1c1c;
    }
    a {
      color: #2d89f0;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #1e1e1e !important;
    }
    .tile {
      &:hover {
        outline: 3px #cfcfcf solid !important;
      }
      * {
        color: #ffffff;
      }
    }
    .metro-section .next-section {
      position: absolute;
      top: 0px;
      right: -40px;
      background: url(/img/next-black.png);
      height: 24px;
      width: 24px;
      &.back {
        background: url(/img/back-black.png);
      }
    }
    .metro-replies .metro-reply {
      background: #2d89f0;
      * {
        color: #1c1c1c;
      }
    }
    .metro-icon-text {
      .text {
        .title {
          color: #000;
        }
        .subtitle {
          color: #1c1c1c;
        }
      }
      &:hover .text *, &.selected .text * {
        color: #fff;
      }
    }
    .metro-icon-text-header {
      color: #1c1c1c;
      a {
        color: #1c1c1c;
      }
    }
    .metro-image-text .text {
      .title {
        color: #000;
      }
      .subtitle, .description {
        color: #1c1c1c;
      }
    }
    .metro-icon-text.selected .text {
      .title, .subtitle {
        color: #fff;
      }
    }
    .metro-icon-text-header {
      color: #1c1c1c;
    }
    .metro-button, .metro-command-button {
      background: #cccccc;
      border-color: #cccccc;
      color: #1d1d1d !important;
    }
    .metro-button .title, .metro-command-button .title, .metro-button .subtitle, .metro-command-button .subtitle {
      color: #1d1d1d !important;
    }
    .metro-button:hover, .metro-command-button:hover {
      background: #d8d8d8;
      border-color: #d8d8d8;
    }
    .metro-button.default, .metro-command-button.default {
      background: #008287;
      border-color: #008287;
      color: #fff !important;
    }
    .metro-button.default .title, .metro-command-button.default .title, .metro-button.default .subtitle, .metro-command-button.default .subtitle {
      color: #fff !important;
    }
    .metro-button.default:hover, .metro-command-button.default:hover {
      background: #219297;
      border-color: #219297;
      color: #fff !important;
    }
    .metro-button:active, .metro-command-button:active {
      background: #000;
      border-color: #000;
      color: #fff !important;
    }
    .metro-button.disabled, .metro-command-button.disabled {
      background: #eaeaea !important;
      border-color: #eaeaea !important;
      color: #9b9b9b !important;
    }
    .metro-button.disabled .title, .metro-command-button.disabled .title, .metro-button.disabled .subtitle, .metro-command-button.disabled .subtitle {
      color: #9d9d9d !important;
    }
    .metro-button:disabled, .metro-command-button:disabled {
      background: #eaeaea !important;
      border-color: #eaeaea !important;
      color: #9b9b9b !important;
    }
    .metro-button:disabled .title, .metro-command-button:disabled .title, .metro-button:disabled .subtitle {
      color: #9d9d9d !important;
    }
    .metro-command-button {
      &:disabled .subtitle {
        color: #9d9d9d !important;
      }
      &:active {
        background: #ccc;
        border-color: #ccc;
      }
    }
    .metro-radio {
      input[type=radio] {
        + span::before {
          border: 2px #cfcfcf solid;
          background: #fff;
          height: 20px;
          width: 20px;
        }
        &:disabled {
          + span::before {
            background: #e6e6e6;
          }
          &:checked + span::after {
            background: #8a8a8a;
          }
        }
      }
      &:hover input[type=radio] {
        &:checked + span::before {
          background: #ffffff;
        }
        &:disabled {
          + span::before {
            background: #e6e6e6;
          }
          &:checked + span::after {
            background: #8a8a8a;
          }
        }
        &:checked + span::after {
          background: #212121;
        }
      }
    }
    .metro-check {
      input[type=checkbox] {
        + span::before {
          border: 2px #cfcfcf solid;
          background: #fff;
          height: 20px;
          width: 20px;
        }
        &:disabled {
          + span::before {
            background: #e6e6e6;
          }
          &:checked + span::after {
            color: #8a8a8a;
          }
        }
      }
      &:hover input[type=checkbox] {
        + span::before {
          background: #fff;
        }
        &:disabled + span::before {
          background: #e6e6e6;
        }
      }
    }
    .metro-switch {
      input[type=checkbox] {
        + span::before {
          border-color: #fff;
          outline-color: #a6a6a6;
        }
        &:not(:checked) + span::before {
          background: #b5b5b5;
        }
        + span::after {
          background: #333;
        }
      }
      &:hover input[type=checkbox] {
        &:checked + span::before {
          background: #25bbc4;
        }
        &:not(:checked) + span::before {
          background: #b5b5b5;
        }
      }
      input[type=checkbox]:disabled + span::before, &:hover input[type=checkbox]:disabled + span::before {
        background: #e0e0e0;
        outline-color: #cccccc;
      }
      input[type=checkbox]:disabled + span::after, &:hover input[type=checkbox]:disabled + span::after {
        background: #a6a6a6;
      }
    }
    .card {
      border-color: #e1e1e1;
    }
  }
  background: transparent;
  * {
    color: #ffffff;
  }
  hr {
    color: #fff;
    background-color: #fff;
  }
  .metro-replies .metro-reply {
    background: #1c1c1c;
    * {
      color: #ffffff;
    }
  }
}