<div class="metro-section" id="social">
  <h1>Social</h1>
  <app-icon-tile text="LinkedIn" link="http://www.linkedin.com/in/ibliskavka" icon="/assets/img/Linked In.png" color="bg-color-purple"></app-icon-tile>
  <app-icon-tile text="Twitter" link="http://twitter.com/ibliskavka" icon="/assets/img/Twitter alt 2.png" color="bg-color-blue"></app-icon-tile>
  <app-icon-tile text="YouTube" link="https://www.youtube.com/user/ibliskavka" icon="/assets/img/YouTube-alt-1.png" color="bg-color-red"></app-icon-tile>
  <app-icon-tile text="Facebook" link="https://www.facebook.com/ivan.bliskavka.5" icon="/assets/img/Facebook alt 4.png" color="bg-color-blueDark"></app-icon-tile>
  <app-icon-tile text="Reddit" link="http://www.reddit.com/user/ibliskavka" icon="/assets/img/Reddit.png" color="bg-color-orange"></app-icon-tile>
</div>